.submit {
  color: white;
}

.form-label {
  font-weight: bolder;
}

* {
  color: #4682b4;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-weight: bolder;
  margin-bottom: 10px;
}

.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row {
  padding-left: 0%;
}
.card {
  max-width: 500px;
  border: 0;
}

.invalid-feedback {
  color: red;
}
