<div class="card">
  <div>
    <div class="row">
      <div class="col-11">
        <h2>Add User</h2>
      </div>
      <div class="col-1">
        <button class="btn btn-primary submit" (click)="home()">Home</button>
      </div>
    </div>
  </div>

  <form class="form-group" [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        [ngClass]="{
          'is-invalid':
            userName &&
            userName.invalid &&
            (userName.dirty || userName.touched),
          'is-valid': userName && !userName.invalid
        }"
        formControlName="username"
        type="text"
        class="form-control is-valid"
        id="username"
        required
        name="username"
        [(ngModel)]="user.username"
      />
      <div
        *ngIf="
          userName && userName.invalid && (userName.dirty || userName.touched)
        "
        class="invalid-feedback"
      >
        Please provide a two letter username
      </div>
    </div>
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input
        [ngClass]="{
          'is-invalid':
            firstname &&
            firstname.invalid &&
            (firstname.dirty || firstname.touched),
          'is-valid': firstname && !firstname.invalid
        }"
        formControlName="firstname"
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        [(ngModel)]="user.firstName"
      />
      <div
        *ngIf="
          firstname &&
          firstname.invalid &&
          (firstname.dirty || firstname.touched)
        "
        class="invalid-feedback"
      >
        Please provide your first name
      </div>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input
        [ngClass]="{
          'is-invalid':
            lastname &&
            lastname.invalid &&
            (lastname.dirty || lastname.touched),
          'is-valid': lastname && !lastname.invalid
        }"
        formControlName="lastname"
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        [(ngModel)]="user.lastName"
      />
      <div
        *ngIf="
          lastname && lastname.invalid && (lastname.dirty || lastname.touched)
        "
        class="invalid-feedback"
      >
        Please provide your last name
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        [ngClass]="{
          'is-invalid':
            password &&
            password.invalid &&
            (password.dirty || password.touched),
          'is-valid': userName && !userName.invalid
        }"
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="user.password"
      />
      <div
        *ngIf="
          password && password.invalid && (password.dirty || password.touched)
        "
        class="invalid-feedback"
      >
        Please provide a password with minimum 6 and maximum 8 characters
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary submit"
      [disabled]="userForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
