.col {
  background-color: #4682b4;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  font-weight: bolder;
  height: 60px;
  text-align: center;
  padding-top: 13px;
}

.add {
  background-color: #4682b4;
  color: white;
  font-weight: bolder;
}
