<div class="container">
  <div class="row">
    <div class="col mb-5">
      <button class="btn add" (click)="addUser()">Add User</button>
    </div>
  </div>
  <div class="row">
    <div class="col">User Id</div>
    <div class="col">First Name</div>
    <div class="col">Last Name</div>
    <div class="col">Username</div>
    <div class="col">Password</div>
    <div class="col">Operations</div>
  </div>
  <div class="row" *ngFor="let user of users">
    <div class="col">{{ user.userId }}</div>
    <div class="col">{{ user.firstName }}</div>
    <div class="col">{{ user.lastName }}</div>
    <div class="col">{{ user.username }}</div>
    <div class="col">{{ user.password }}</div>
    <div class="col">
      <button class="btn btn-success me-1" (click)="editUser(user.userId)">
        Edit
      </button>
      <button class="btn btn-danger" (click)="deleteUser(user.userId)">
        Delete
      </button>
    </div>
  </div>
</div>
